@model ikifikir.editor.Models.PricingDataModel.PricingComponentModel.PricingComponentCreateViewModel

@{
    ViewData["Title"] = "kategoriekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <p class="card-title">Bileşen Ekle</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("paketBileseniOlustur", "fiyatpaket", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.PricingId)

                    <div class="form-group">
                        <label>Bileşen Adı</label>
                        <input type="text" class="form-control" placeholder="Bileşen adı giriniz..." maxlength="325" asp-for="ComponentTitle" name="ComponentTitle" id="defaultconfig">
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Fiyat</label>
                        <input type="text" class="form-control" placeholder="Fiyat giriniz..." maxlength="25" asp-for="Price" name="Price" id="defaultconfig">
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Açıklama</label>
                        <input type="text" class="form-control" placeholder="Açıklama giriniz..." asp-for="Description" name="Description" id="defaultconfig">
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.CheckBoxFor(x => x.ChooseType, new { @class = "form-check-input", id = "ChooseType" })
                        <label class="form-check-label" for="customSwitch1"> Çoklu Seçim Yap</label>
                    </div>
                    <br />
                    <div class="form-group mt-3">
                        <button class="btn btn-primary" type="submit">Bileşen Oluştur</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

