@model ikifikir.editor.Models.RolModel.RolEditViewModel

@{
    ViewData["Title"] = "rolguncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <p class="card-title">
                    Rol Güncelle
                </p>
            </div>
            <div class="card-body">
                <form method="post" action="@Url.Action("rolguncelle","kullanici")">
                    @Html.HiddenFor(x => x.Id)
                    <div class="form-group">
                        <input class="form-control" type="text" asp-for="roleName" placeholder="Rol Adı giriniz..." id="defaultconfig" maxlength="25" />
                    </div>
                    <div class="form-group mt-3">
                        <button type.="submit" class="btn btn-primary">Rol Güncelle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>