
@{
    ViewData["Title"] = "isebakisimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/mobile.css" rel="stylesheet" />

<style>

    .team-title-prel {
        background: #fff;
        width: 253px;
        padding: 15px;
        position: relative;
        top: 45px;
        bottom: 0;
        right: 0;
        left: 0;
    }

    body.header-transparent-on #page-header.ph-lg .page-header-inner {
        padding-top: 100px;
        padding-bottom: 5px;
    }

    .simple-text-section {
        position: relative;
        padding: 60px 3%;
    }

    .page-header-caption.ph-cap-xlg .page-header-title {
        font-size: 30px;
    }

    .tt-heading.tt-heading-xxlg .tt-heading-title {
        font-size: 35px !important;
    }

    .page-header-caption.ph-cap-xlg .page-header-subtitle {
        font-size: 25px;
        font-weight: 500;
    }

    body.tt-boxed .tt-wrap {
        max-width: 1282px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .page-header-title {
        max-width: 900px;
        margin: 0 0 0px 0;
        font-size: 52px;
        font-weight: 700;
        color: #181c25;
    }

    body.header-transparent-on #page-header.ph-xlg .page-header-inner {
        padding-top: 110px;
        padding-bottom: 30px;
    }

    .simple-text-section-content {
        position: relative;
        max-width: 100%;
        z-index: 3;
    }

    p {
        margin: 0 0 10px;
        font-weight: 500;
    }

    #page-header.ph-xlg .page-header-inner {
        padding-top: 86px;
        padding-bottom: 36px;
    }

</style>

<section id="page-header" class="ph-xlg">

    <div class="page-header-image parallax-6 bg-image" style="background-image: url('https://uploads.ikifikir.net/images/header-bizkimiz.jpg');">
        <div class="cover cover-opacity-1"></div>
    </div>
    <!-- End page header image -->
    <!-- Begin page header inner -->
    <div class="page-header-inner tt-wrap">

        <div class="page-header-caption ph-cap-xlg ph-cap-light ph-cap-shadow parallax-4 fade-out-scroll-5">
            <div class="ph-title-wrap team-title-prel">
                <h2 class="page-header-title" style="color:#94033f;">İşe Bakışımız?</h2>
            </div>
        </div>
        <!-- End page header caption -->

    </div>

    <div class="ph-anim-element-wrap hide-ph-anim parallax-4 fade-out-scroll-4">
        <div class="ph-anim-element-holder">
            <div class="ph-anim-element"></div>
        </div>
    </div>

</section>

<section class="simple-text-section">
    <div class="simple-text-inner tt-wrap">
        <div class="simple-text-section-content text-center">
            <img src="https://uploads.ikifikir.net/site/hat.jpg" style="width:270px;" />
        </div>
        <br />
        <div class="simple-text-section-content text-center">
            <h2>ABRA KADABRA!</h2>
        </div>
        <div class="simple-text-section-content text-center">
            <p>"Abra kadabra" Aramice'de "söylediğim gibi yaratacağım" anlamına gelen bir büyücü sözü imiş. Büyücülerin kralların akıl hocası olduğu eski zamanlardan kalma. </p>
        </div>
        <div class="simple-text-section-content text-center">
            <p>Malum reklam da yaratıcılık ve büyülemek üzerine bir iş. "Büyücüler"den farkımız, işimizi değerlerimiz ve etik kurallarımız çerçevesinde yapıyoruz. Göz boyamayı ya da manipüle etmeyi değil, hakiki ihtiyaçlara hakiki cevaplar üretmeyi tercih ediyoruz.. Sadece reklamverene karşı değil, topluma karşı sorumluluğumuzun da bilincindeyiz.</p>
        </div>
        <div class="simple-text-section-content text-center">
            <p>Marka inşası, grafik tasarım, dijital pazarlama, video prodüksiyonları ve etkinlik yönetimi alanlarında; özgün, etkili ve fark yaratan işler üretiyoruz. Müşterilerimizin gerçek ihtiyaçlarını tespit ederek, onlara danışmanlık da yapıyoruz.</p>
        </div>
        <div class="simple-text-section-content text-center">
            <p>Çok çalışıyoruz. Müşteri kazanmak ve müşteriyi elde tutmanın çok çalışmaktan geçtiğinin farkındayız. </p>
        </div>
        <div class="simple-text-section-content text-center">
            <p>Bununla birlikte, profesyonel tutumumuzdan ve değerlerimizden taviz vermiyoruz. Büyük – küçük iş ayrımı yapmadan her türlü işe aynı özeni gösteriyoruz. Sizin için en iyi sonucu sağlamak için teknolojik imkanları ve emeğimizi esirgemiyoruz.</p>
        </div>
    </div>
</section>