@{
    ViewData["Title"] = "sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="tt-intro" class="intro-full">
    <div class="tt-intro-inner">

        <div class="owl-carousel cursor-grab bg-dark nav-bottom-right" data-lazy-load="true" data-items="1" data-loop="true" data-dots="false" data-nav="true" data-autoplay="true" data-autoplay-timeout="8000" data-animate-in="fadeIn" data-animate-out="fadeOut">

            <div class="cc-item">

                <div class="intro-image-wrap parallax-6">
                    <div class="intro-image bg-dark bg-image owl-lazy" data-src="https://uploads.ikifikir.net/site/1.jpg">
                        <div class="cover cover-opacity-5"></div>
                    </div> <!-- /.intro-image -->
                </div>

                <div class="intro-caption-wrap caption-animate intro-caption-lg bottom-left parallax-4">
                    <div class="intro-caption-holder">
                        <div class="intro-caption center">

                            <h1 class="intro-title" style="margin:0">ABRA</h1>
                            <h1 class="intro-title">KADABRA!</h1>
                            @*<div class="intro-description">

                        </div>*@

                            <div class="intro-buttons">
                                <a href="@Url.Action("hizmetler","anasayfa")" class="btn btn-white-bordered margin-top-5">İŞE BAKIŞIMIZ</a>
                            </div>
                            <!-- End intro buttons -->

                        </div> <!-- /.intro-caption -->
                    </div> <!-- /.intro-caption-holder -->
                </div>
                <!-- End intro caption wrap -->

            </div>

            <div class="cc-item">

                <div class="intro-image-wrap parallax-6">
                    <div class="intro-image bg-dark bg-image owl-lazy" data-src="https://uploads.ikifikir.net/site/3.jpg">
                        <div class="cover cover-opacity-5"></div>
                    </div> <!-- /.intro-image -->
                </div>

                <div class="intro-caption-wrap caption-animate intro-caption-lg bottom-left parallax-4">
                    <div class="intro-caption-holder">
                        <div class="intro-caption center">

                            <h1 class="intro-title" style="margin:0">NE</h1>
                            <h1 class="intro-title">YAPARIZ?</h1>
                            @*<div class="intro-description">

                        </div>*@

                            <div class="intro-buttons">
                                <a href="@Url.Action("calismalar","anasayfa")" class="btn btn-white-bordered margin-top-5">İŞLERİMİZİ GÖRÜN</a>
                            </div>
                            <!-- End intro buttons -->

                        </div> <!-- /.intro-caption -->
                    </div> <!-- /.intro-caption-holder -->
                </div>
                <!-- End intro caption wrap -->

            </div>

            <div class="cc-item">

                <div class="intro-image-wrap parallax-6">
                    <div class="intro-image bg-dark bg-image owl-lazy" data-src="https://uploads.ikifikir.net/site/2.jpg">
                        <div class="cover cover-opacity-5"></div>
                    </div> <!-- /.intro-image -->
                </div>

                <div class="intro-caption-wrap caption-animate intro-caption-lg bottom-left parallax-4">
                    <div class="intro-caption-holder">
                        <div class="intro-caption center">

                            <h1 class="intro-title" style="margin:0">BİZ</h1>
                            <h1 class="intro-title">KİMİZ?</h1>
                            @*<div class="intro-description">

                        </div>*@

                            <div class="intro-buttons">
                                <a href="@Url.Action("ekibimiz","anasayfa")" class="btn btn-white-bordered margin-top-5">KENDİMİZİ TANITALIM</a>
                            </div>
                            <!-- End intro buttons -->

                        </div> <!-- /.intro-caption -->
                    </div> <!-- /.intro-caption-holder -->
                </div>
                <!-- End intro caption wrap -->

            </div>

            <div class="cc-item">

                <div class="intro-image-wrap parallax-6">
                    <div class="intro-image bg-dark bg-image owl-lazy" data-src="https://uploads.ikifikir.net/site/4.jpg">
                        <div class="cover cover-opacity-5"></div>
                    </div> <!-- /.intro-image -->
                </div>

                <div class="intro-caption-wrap caption-animate intro-caption-lg bottom-left parallax-4">
                    <div class="intro-caption-holder">
                        <div class="intro-caption center">

                            <h1 class="intro-title" style="margin:0">ÇAY</h1>
                            <h1 class="intro-title">KAHVE?</h1>
                            @*<div class="intro-description">
                        </div>*@

                            <div class="intro-buttons">
                                <a href="@Url.Action("iletisim","anasayfa")" class="btn btn-white-bordered margin-top-5">HADİ TANIŞALIM</a>
                            </div>
                            <!-- End intro buttons -->

                        </div> <!-- /.intro-caption -->
                    </div> <!-- /.intro-caption-holder -->
                </div>
                <!-- End intro caption wrap -->

            </div>

        </div>

    </div>
</section>



