@media (max-width: 768px) {

    .mobile-price-font{
        font-size:21px !important;
    }

    .mobile-badge {
        position: relative !important;
        left: 34px !important;
        right: 0 !important;
        top: 23px !important;
        bottom: 0px !important;
        z-index: 20 !important;
    }

    .portfolio-single-info {
        margin-bottom: 20px !important;
    }
    .portfolio-single-inner {
        padding-bottom: 0px !important;
    }

    .frame-mobile {
        max-width: 100%;
        height: 260px;
    }

    .fixed-total {
        padding-right: 5px;
        position: fixed !important;
        height: 80px !important;
        background-color: #fff !important;
        bottom: 0;
        top:auto !important;
        right:auto !important;
        width:100%;
        z-index: 4;
        display: inline-block;
        padding: 6px 40px !important;
        box-shadow: -2px 0px 9px 0px #b3b3b3;
        padding-bottom:25px;
    }

    #prices-section {
        padding: 23px 3% !important;
    }

    .pay-box {
        display: table-cell !important;
        position: fixed !important;
        bottom: 0;
        width: 100% !important;
        right: 0;
        left: 0;
        z-index: 999;
        padding: 20px !important;
        background: #fff;
        box-shadow: 1px -7px 20px 1px rgb(0 0 0 / 13%);
    }

    .price-box.pr-box-featured {
        background: rgb(0, 64, 216);
        color: rgb(255, 255, 255);
        box-shadow: none !important;
    }

    #btn-width {
        width: 122px;
        position: absolute;
        left: 9px;
        bottom: -3px;
        background: none;
    }

    .btn-padding {
/*        padding: 2px 20px 15px 20px !important;
*/        padding: 0px !important;
    }

    .btn-left{
        margin-left:10px;
    }

    .price-box .price-box-price .price {
        font-size: 25px !important;
    }

    #price-heading {
        display: none !important;
    }

    #col-pb-mobile{
        padding-bottom:100px;
    }
    .btn-width-mobile {
        left: 299px !important;
        width: 21%;
        bottom: 15px !important;
    }

    .team-title-prel {
        background: #fff;
        width: 183px;
        padding: 10px;
        position: relative;
        top: 48px;
        bottom: 0;
        right: 0;
        left: -17px;
    }

    .work-title-prel {
        background: #fff;
        width: 204px;
        padding: 10px;
        position: relative;
        top: 49px;
        bottom: 0;
        right: 0;
        left: -17px;
    }

    .simple-text-section {
        position: relative;
        padding: 33px 3% !important;
    }

    #team-section.team-classic {
        padding: 44px 0 0px 0 !important;
    }
    #clients-section {
        position: relative;
        padding: 0px 0 30px 0 !important;
    }
    body.tt-boxed .tt-wrap {
        max-width: 1282px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    #tt-intro .intro-caption-wrap.intro-caption-lg .intro-title {
        font-size: 35px;
    }

    #tt-intro .intro-caption-wrap.bottom-left .intro-caption {
        bottom: 4%;
        left: 6%;
        margin-right: 5%;
        text-align: left;
    }

    .portfolio-list-item .pl-item-image-inner {
        display: block;
        position: relative;
        overflow: hidden;
        height: 215px;
    }

    #popUp {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        right: 41px !important;
        bottom: 124px !important;
        width: 0px;
        height: 0px;
        transition: width 1s, height 1s, transform 1s;
    }

        #popUp.show {
            opacity: 1;
            visibility: visible;
            width: 316px !important;
            height: 266px !important;
            transform: rotate(0deg);
        }

    .col-10-mb {
        width: 85.333333%;
    }
}